/* MapLibre GL map container styles */

.maplibregl-map {
  background-color: #e0e0e0 !important;
}

@media (prefers-color-scheme: dark) {
  .maplibregl-map {
    background-color: #1b1b1b !important;
  }
}

.maplibregl-ctrl-attrib {
  display: none;
}
